# Team crawler notebook

## Imports

In [4]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import bs4

## Crawling variables

In [3]:
headers = {
   'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'
}

In [14]:
base_url = 'https://www.transfermarkt.co.uk/'

## Data

In [17]:
leagues = pd.read_csv('../src/leagues.csv', index_col=0)
leagues_url = leagues.url.values

In [22]:
s = base_url + leagues_url[0][1:]

In [31]:
requests.get(s, headers=headers)

In [125]:
url = base_url + leagues_url[0][1:]
print(url)
result = requests.get(url, headers=headers)
soup = BeautifulSoup(result.content, 'html5lib')
table = soup.find(name='table', attrs={'class': 'items'})
table_body = table.find(name='tbody')
rows = table_body.findAll('tr', attrs={'class': ['odd', 'even']})
t = []
for r in rows:
    t.append({
        'team': get_team_name(r),
        'url': get_team_url(r),
        'players': get_n_of_players(r),
        'foreing_players': get_foreingners(r),
        'avg_age': get_avg_age(r),
        'total_market_value': get_total_market_value(r),
        'avg_market_value': get_avg_market_value(r)
    })

https://www.transfermarkt.co.uk/campeonato-brasileiro-serie-a/startseite/wettbewerb/BRA1

In [126]:
pd.DataFrame(t)

,avg_age,avg_market_value,foreing_players,players,team,total_market_value,url
0,"27,9",£2.31m,4,30,Sociedade Esportiva Palmeiras,£69.30m,/se-palmeiras-sao-paulo/startseite/verein/1023...
1,"25,7",£2.02m,6,34,Clube de Regatas do Flamengo,£68.58m,/flamengo-rio-de-janeiro/startseite/verein/614...
2,"27,4",£1.82m,1,33,Grêmio Foot-Ball Porto Alegrense,£60.17m,/gremio-foot-ball-porto-alegrense/startseite/v...
3,"25,2",£1.67m,4,33,Santos FC,£55.08m,/fc-santos/startseite/verein/221/saison_id/2017
4,"28,1",£1.59m,5,32,Cruzeiro Esporte Clube,£50.76m,/ec-cruzeiro-belo-horizonte/startseite/verein/...
5,"26,6",£1.70m,4,28,São Paulo Futebol Clube,£47.66m,/fc-sao-paulo/startseite/verein/585/saison_id/...
6,"26,7",£1.41m,4,33,Sport Club Corinthians Paulista,£46.53m,/corinthians-sao-paulo/startseite/verein/199/s...
7,"26,3",£1.29m,7,34,Sport Club Internacional,£43.88m,/sc-internacional-porto-alegre/startseite/vere...
8,"25,6",£1.06m,5,31,Clube Atlético Mineiro,£32.90m,/atletico-mineiro/startseite/verein/330/saison...
9,"25,8",£784k,4,36,Botafogo Rio de Janeiro,£28.22m,/botafogo-fr-rio-de-janeiro/startseite/verein/...
10,"25,8",£833k,1,33,Esporte Clube Bahia,£27.50m,/ec-bahia/startseite/verein/10010/saison_id/2017
11,"26,6",£732k,5,37,Club de Regatas Vasco da Gama,£27.09m,/vasco-da-gama-rio-de-janeiro/startseite/verei...
12,"26,8",£887k,2,30,Atlético Paranaense,£26.60m,/clube-atletico-paranaense/startseite/verein/6...
13,"24,8",£699k,3,37,Fluminense Football Club,£25.85m,/fluminense-football-club/startseite/verein/24...
14,"25,1",£609k,4,42,Esporte Clube Vitória,£25.58m,/esporte-clube-vitoria/startseite/verein/2125/...
15,"26,4",£453k,5,45,Associação Chapecoense de Futebol,£20.41m,/associacao-chapecoense-de-futebol/startseite/...
16,"27,0",£618k,0,33,Sport Club do Recife,£20.39m,/sport-club-do-recife/startseite/verein/8718/s...
17,"27,3",£467k,0,38,América Futebol Clube (MG),£17.75m,/america-futebol-clube-mg-/startseite/verein/2...
18,"27,8",£435k,2,36,Ceará Sporting Club,£15.66m,/ceara-sporting-club-ce-/startseite/verein/202...
19,"25,7",£356k,3,36,Paraná Clube,£12.80m,/parana-clube/startseite/verein/309/saison_id/...

In [124]:
def get_team_name(row):
    return row.find('img').get("alt")


def get_team_url(row):
    return row.findAll('a')[1].get('href')


def get_n_of_players(row):
    n = row.findAll('td')[3].find('a').contents[0]
    return int(n)


def get_avg_age(row):
    return row.findAll('td')[4].contents[0]


def get_foreingners(row):
    return row.findAll('td')[5].contents[0]


def get_total_market_value(row):
    return row.findAll('td')[6].find('a').contents[0]


def get_avg_market_value(row):
    return row.findAll('td')[7].contents[0]