# Sample connection with the db

## Imports

In [1]:
import pandas as pd
import numpy as np
import psycopg2

/home/otaviocv/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## Connection

In [2]:
conn = psycopg2.connect(user='docker', password='docker', host='localhost', port=5555)

In [3]:
cursor = conn.cursor()

In [ ]:
cursor.fetchone()

In [4]:
pd.read_sql('SELECT * FROM catalog', conn)

,id,url,date_added,date_updated,status,page_type
0,1,https://www.transfermarkt.co.uk/wettbewerbe/af...,2018-11-22 00:26:50,None,new,area
1,2,https://www.transfermarkt.co.uk/wettbewerbe/am...,2018-11-22 00:26:50,None,new,area
2,3,https://www.transfermarkt.co.uk/wettbewerbe/am...,2018-11-22 00:26:50,None,new,area
3,4,https://www.transfermarkt.co.uk/wettbewerbe/as...,2018-11-22 00:26:50,None,new,area
4,5,https://www.transfermarkt.co.uk/wettbewerbe/as...,2018-11-22 00:26:50,None,new,area
5,6,https://www.transfermarkt.co.uk/wettbewerbe/as...,2018-11-22 00:26:50,None,new,area
6,7,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
7,8,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
8,9,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
9,10,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
10,11,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
11,12,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
12,13,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
13,14,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
14,15,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
15,16,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
16,17,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
17,18,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
18,19,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
19,20,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
20,21,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area
21,22,https://www.transfermarkt.co.uk/wettbewerbe/eu...,2018-11-22 00:26:50,None,new,area

In [5]:
pd.read_sql('SELECT * FROM leagues', conn)

Empty DataFrame
Columns: [id, league, country, clubs, players, avg_age, foreing_players, total_value]
Index: []